/* Estilos del fondo de la pagina*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right top, #0f0f0fe0, #070707f8);
    color: #ffffff;
}

/* Estilos del container*/
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Estilos del contenido principal */
main {
    text-align: center;
    padding: 30px 0;
    margin-top: 0;
}

/* Estilos de los h1 en general*/
h1 {
    font-size: 25px;
    color: #0400ff;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 6px rgba(26, 1, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
}


/* Estilos de los p1  */
p {
    font-size: 25px;
    line-height: 1.6;
    color: #fff6f6;
    font-weight: bold;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Estilos del logo*/
.logo {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

/* Estilos de la navegacion */
nav {
    background-color: #1f1f1f;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #0004ff;
    border-bottom: 3px solid #0004ff;
}

/* Estilos para las listas del menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilos para los elementos para el menu*/
nav ul li {
    display: inline-block; 
    margin-right: 20px;
}

/* Estilos para los enlaces de navegación */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

/* Estilos al pasar el cursor sobre la navegacion*/
nav ul li a:hover {
    background-color: #444;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.8);
}

/* Estilos para el footer */
footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    border-top: 5px solid #0004ff;
    border-bottom: 5px solid #0004ff;
    border-radius: 50px 50px 0 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para los párrafos de footer*/
footer p {
    font-size: 24px;
    margin: 10px 0;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

/* Estilos para el párrafo dentro del footer*/
footer p:nth-child(even) {
    font-style: italic;
    color: #ffffff;
}

/* Estilos de los formularios */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(165, 165, 173, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #161616;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #524040;
    border-radius: 5px;
}

input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #004581;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #495057;
}

#registerButton,
#logoutButton {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #004581;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos la imagen del perfil*/
.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Estilos para el contenido principal */
.content-box {
    background-color: rgba(0, 0, 0, 0.897);
    padding: 15px;
    border: 2px solid #2400c4c2;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    max-width: 800px;
}

/* Estilos para el título del contenido*/
.content-box h1 {
    color: #0a19a5;
    margin-bottom: 15px;
    text-align: start;
}

/*Estilos del Java sCRIPT*/
/* Estilos para la ventana modal del cierre sesion*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el contenido de la ventana modal del cierre sesion */
.modal-content {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para los botones de la venatna modal del ciere de sesion */
.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #0c0c0c;
    transition: background-color 0.3s;
}

/*Color al pasar el cursor*/
.modal-buttons button:hover {
    background-color: #0056b3
}


